<a href="https://colab.research.google.com/github/abuckenhofer/datamanagement-pattern/blob/main/parquet_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyarrow pandas duckdb --quiet

In [2]:
import pandas as pd

# Sample DataFrame
data = {
    "name": ["Alice", "Bob", "Charlie", "Diana"],
    "age": [25, 30, 35, 40],
    "city": ["NY", "LA", "Chicago", "Houston"]
}
df = pd.DataFrame(data)

# Write to Parquet
df.to_parquet("people.parquet", engine="pyarrow")
print("âœ… Data written to people.parquet")

âœ… Data written to people.parquet

In [3]:
df_from_parquet = pd.read_parquet("people.parquet", engine="pyarrow")
print("ðŸ“– Data read from Parquet:")
print(df_from_parquet)

ðŸ“– Data read from Parquet:
      name  age     city
0    Alice   25       NY
1      Bob   30       LA
2  Charlie   35  Chicago
3    Diana   40  Houston

In [4]:
import duckdb

query = """
SELECT * FROM read_parquet('people.parquet')
WHERE age > 30
"""
result = duckdb.query(query).to_df()
print("ðŸ” Query Result (age > 30):")
print(result)

ðŸ” Query Result (age > 30):
      name  age     city
0  Charlie   35  Chicago
1    Diana   40  Houston